*.aux
*.bbl
*.ddf
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex
*.toc
*.gph
*.smcl
*.bb
EC22Data/Data/
EC22Data/ado/
EC22Data/*.do
EC22Data/*.xlsx
EC22Data/_codex_*.do
EC22Data/_codex_do_files_by_topic/
EC22Data/do_files_by_topic/
